* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1321px;
  margin: auto;
}

/* header start */

.banner {
  background-color: #161616;
  border-radius: 30px;
  display: flex;
  align-items: stretch;
  min-height: 650px;
  margin-top: 50px;
}

.banner_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 100px 0 100px 100px;
  width: 50%;
}

.banner_details h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}

.banner_details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 20px 0 30px 0;
}

.banner_details a {
  padding: 16px 25px;
  background: #dd0000;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}

.banner_details a:hover {
  background: #b10000;
}

.banner_img {
  width: 50%;
  text-align: right;
  padding: 50px 50px 0 20px;
  display: flex;
  align-items: flex-end;
}

.banner_img img {
  display: block;
  width: 100%;
}

/* header end */

main {
  padding: 50px 0;
}

.nav_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.nav_tab a {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  width: 230px;
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #161616;
  text-align: center;
  transition: 0.2s;
}

.nav_tab a:hover {
  background: #dd0000;

  color: #fff;
}

.world_cup_info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.world_cup_info aside {
  width: 312px;
  background: #161616;
  border-radius: 10px;
  padding: 30px;
}

.world_cup_info aside a {
  background: #ffffff;
  border-radius: 10px;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #161616;
  text-align: center;
  transition: 0.2s;
}

.world_cup_info aside a:nth-child(2) {
  margin: 30px 0;
}

.world_cup_info aside a:hover {
  background: #dd0000;
  color: #fff;
}

.article_section {
  width: calc(75%);
  margin-left: 15px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
}

.blog {
  width: 100%;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.blog .thumbnail img {
  width: 100%;
  display: block;
}

.blog_detail {
  padding: 20px;
}

.blog_detail a {
  display: inline-block;
  padding: 2px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #161616;
  transition: 0.2s;
}

.blog_detail a:hover {
  background-color: #161616;
  color: #fff;
}

.blog_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin: 10px 0;
}

.time {
  margin-right: 20px;
}

.fixture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 40px;
}

.group_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 40px;
  letter-spacing: 2px;
  
}

.team_flag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team_vs {
  margin: 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161616;
}

.team_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #161616;
  margin: 15px 0;
}

.match_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4d4d4d;
}

.group_name {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline;
}

.group_teams {
  font-family: "Koulen", cursive;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  text-align: center;
}

.view_all_btn {
  text-align: center;
  display: none;
}

.view_all_btn a {
  padding: 16px 25px;
  background: #dd0000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}

/* footer start */

footer {
  background-color: #161616;
  text-align: center;
  padding: 100px 0;
}

footer h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer_devider {
  width: 70%;
  margin: auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.096);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  list-style: none;
  padding: 20px;
}

.footer_nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #b9b9b9;
  transition: 0.2s;
}

.footer_nav li a:hover {
  color: #fff;
}

.social_icons li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #b9b9b9;
  transition: 0.2s;
}

.social_icons li a:hover {
  color: #fff;
}

/* footer end */
